.container {
  max-width: 600px;
  margin: 40px auto 80px;
}

.content hr {
  border-color: white;
}

.content h2 {
  margin-top: 5rem;
}

.content p {
  font-size: 18px;
  line-height: 30px;
}

.content ol li {
  margin-bottom: 8px;
}

.content blockquote {
  background-color: #f1f3f5;
  padding-left: 24px;
  padding-top: 8px;
  padding-bottom: 8px;
  margin: 20px 0;
  font-size: 0.8em;
}

.content blockquote p {
  margin: 0;
  font-size: 16px;
  line-height: 26px;
}
