.social-graph {
  height: 1300px;
  background-image: url('../../../images/socialgraphbg.jpg');
  background-position-x: center;
  background-position-y: bottom;
  background-repeat: no-repeat;
  box-shadow: inset #fff 0px 200px 120px -90px, inset #fff 0 -180px 120px -90px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-size: cover;
}

.social-graph > h1 {
  font-size: 40px;
  font-weight: 500;
  color: #4847ec;
  text-align: center;
  margin-top: 50px;
  padding-top: 30px;
  text-shadow: #fff 0 0 4px, #fff 0 0 10px, #fff 0 0 10px;
}

.social-graph .content {
  width: 630px;
  display: flex;
  flex-direction: column;
}

.social-graph .statement {
  margin-top: 85px;
  width: 540px;
}

.social-graph .statement:nth-child(odd) {
  display: flex;
  flex-direction: row;
  align-self: flex-start;
}

.social-graph .statement:nth-child(even) {
  display: flex;
  flex-direction: row-reverse;
  align-self: flex-end;
}

.social-graph .statement-a {
  width: 64px;
  height: 64px;
  border-radius: 64px;
  border: 5px solid #adb9f1;
}

.social-graph .statement-b {
  border-radius: 20px;
  box-shadow: #42418d4d 0 0 21px -3px;
  display: flex;
  flex-direction: column;
}

.social-graph .statement:nth-child(odd) .statement-b {
  background-color: #fff;
  margin-left: 14px;
  padding: 8px 6px 8px 10px;
  align-items: flex-start;
}

.social-graph .statement:nth-child(even) .statement-b {
  background-color: #fff;
  margin-right: 14px;
  padding: 8px 10px 8px 6px;
  align-items: flex-end;
}

.social-graph .statement:nth-child(even) .statement-b > * {
  text-align: right;
}

.social-graph .statement-b h1,
.social-graph .statement-b p {
  margin: 0;
  font-size: 18px;
}

.social-graph .statement-b span {
  font-family: monospace;
  font-size: 13px;
  color: #8a90aa;
  margin-top: 3px;
  word-break: break-all;
}

@media (max-width: 959px) {
  .social-graph {
    height: initial;
    padding: 0 15px 100px;
  }

  .social-graph .content {
    width: initial;
  }

  .social-graph .statement {
    margin-top: 55px;
    width: 100vw;
    flex-wrap: wrap;
    padding: 0;
    max-width: calc(100vw - 30px);
  }

  .social-graph .statement-a {
    margin-bottom: 10px;
  }

  .social-graph .statement:nth-child(odd) .statement-b {
    margin-left: 0;
  }

  .social-graph .statement:nth-child(even) .statement-b {
    margin-right: 0;
  }
}

@media (min-width: 1281px) {
  .social-graph {
    width: 100%;
    align-self: center;
  }
}
