.donate {
  min-height: 55vw;
  position: relative;
  box-shadow: #1516254d 0px 30px 130px 50px;
  overflow: hidden;
  margin: auto;
}

.donate video {
  position: absolute;
  min-width: 100vw;
  z-index: -2;
}

.donate .gradient {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: -1;
  background: linear-gradient(
    96deg,
    rgba(18, 17, 47, 0.6) 0%,
    rgba(0, 0, 0, 0) 50%
  );
}

.donate .content {
  padding-top: 120px;
  padding-left: 130px;
}

.donate .content h1 {
  margin-top: 0;
  font-size: 40px;
  font-weight: 100;
  color: #fff;
  text-shadow: #0000004d 0px 1px 5px;
}

.donate .content p {
  color: #fff;
  font-size: 22px;
  max-width: 320px;
  font-weight: 400;
  text-shadow: #0000004d 0px 1px 5px;
}

.donate .btn {
  text-decoration: none;
  color: #fff;
  background: #12b886;
  width: 140px;
  display: inline-block;
  height: 48px;
  line-height: 48px;
  border-radius: 4px;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  margin-top: 20px;
}

.donate .btn:hover {
  background: #20c997;
}

@media (max-width: 959px) {
  .donate {
    height: initial;
    box-shadow: #1516254d 0px 0px 30px 15px;
  }

  .donate video {
    width: initial;
    transform: translateX(-20%) scale(1.5);
  }

  .donate .gradient {
    background: rgba(18, 17, 47, 0.4);
  }

  .donate .content {
    padding: 60px 15px;
  }
}

@media (min-width: 1281px) {
  .donate {
    min-height: 660px;
    align-self: center;
    width: 1280px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }

  .donate video {
    width: 1280px;
    height: initial;
    min-width: initial;
  }
}
