.hero-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: stretch;
  overflow-x: hidden;
  background-color: #4748ec;
  position: relative;
}

.hero-container svg {
  width: 100vw;
  height: initial;
}

@media (min-width: 1281px) {
  .hero-container svg {
    width: 1280px;
    height: initial;
  }
}

@media (max-width: 959px) and (orientation: portrait) {
  .hero-container svg {
    width: 265vw;
  }
}

@media (max-width: 959px) and (orientation: landscape) {
  .hero-container svg {
    width: 100vw;
  }
}
