.title {
  text-align: center;
}

.container {
  max-width: 600px;
  margin: 40px auto 80px;
  position: relative;
  font-size: 18px;
  line-height: 30px;
}

.cards-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
}

.card {
  flex: 1;
  min-width: 55px;
  max-width: 32%;
  min-height: 200px;
  border-radius: 4px;
  margin: 0 10px 20px;
  padding: 15px;
  text-decoration: none;
  background-color: white;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  border: 1px solid #ecedf0;
}

@media (max-width: 628px) {
  .card {
    min-width: calc(100% - 55px);
  }

  .container {
    margin: 40px 14px 80px;
  }
}

.card:hover {
  box-shadow: #1516251e 0px 2px 10px -1px;
  transform: translateY(-1px);
}

.card h3 {
  margin: 0;
}

.card p {
  color: #373c50;
  margin: 6px 0 20px;
  font-size: 16px;
  line-height: 22px;
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
}

.icon {
  width: 64px;
  height: 64px;
}

.readMore {
  position: absolute;
  right: 15px;
  bottom: 10px;
}
