.title {
  text-align: center;
}

.options {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}

.option-card {
  flex: 1;
  min-width: 240px;
  max-width: 32%;
  min-height: 420px;
  border-radius: 20px;
  background-color: #f3f4f6;
  color: #767d98;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  margin: 0 10px 60px;
  justify-content: flex-start;
  align-items: center;
  padding: 20px 0;
}

.os-icon {
  width: 64px;
  height: 64px;
}

.button {
  color: #fff;
  font-size: 1.2rem;
  text-decoration: none;
  font-weight: bold;
  letter-spacing: 0.2px;
  background-color: #4263eb;
  /* background-color: #000; */
  height: 52px;
  line-height: 51px;
  width: 146px;
  padding: 0 16px;
  border-radius: 200px;
  margin-top: 14px;
  text-align: center;
  transition-delay: 0;
  transition-timing-function: ease-in-out;
  transition-property: transform,box-shadow;
  transition-duration: 0.1s;
}
.button:visited {
  color: #fff;
}
.button:hover {
  color: #fff;
  box-shadow: #1516254f 0px 2px 10px -1px;
  transform: translateY(-1px);
}
