.container {
  max-width: 600px;
  margin: 40px auto 80px;
  position: relative;
  font-size: 18px;
  line-height: 30px;
}

.title {
  font-size: 40px;
  margin-top: 40px;
  font-weight: 600;
  color: #4847ec;
}

.skewy-container {
  min-height: 400px;
  position: relative;
  margin-top: 100px;
  color: white;
  padding: 1px;
}

.skewy {
  transform: skewy(3deg);
  background-color: #4847ec;
  z-index: -1;
  position: absolute;
  left: 0;
  right: 0;
  top: -10px;
  bottom: -10px;
}

.epics {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
}

.epic, .epicDark {
  flex: 1;
  min-width: calc(50% - 55px);
  max-width: 32%;
  min-height: 200px;
  border-radius: 4px;
  margin: 0 10px 20px;
  padding: 15px;
  text-decoration: none;
  background-color: white;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: relative;
}

@media (max-width: 628px) {
  .epic, .epicDark {
    min-width: calc(100% - 55px);
  }

  .container {
    margin: 40px 14px 80px;
  }
}

.epicDark:hover {
  box-shadow: #15162580 0px 2px 10px -1px;
  transform: translateY(-1px);
}

.epic:hover {
  box-shadow: #1516251e 0px 2px 10px -1px;
  transform: translateY(-1px);
}

.epic {
  border: 1px solid #ecedf0;
}

.epic h3, .epicDark h3 {
  margin: 0;
}

.epic p, .epicDark p {
  color: #373c50;
  margin: 6px 0 20px;
  font-size: 16px;
  line-height: 22px;
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
}

.epicStatus {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
}

.assignee {
  margin-left: 6px;
  border-radius: 20px;
}

.readMore {
  position: absolute;
  right: 15px;
  bottom: 10px;
}

.futureEpics li {
  margin-bottom: 2px;
}

.label {
  align-self: flex-start;
  padding: 0px 10px;
  border-radius: 1000px;
  font-size: 16px;
  line-height: 25px;
}

.completed {
  display: block;
  margin-top: 40px;
  font-size: 27px;
  font-weight: bold;
}
