body {
  margin: 0;
  font-family: 'Signika', 'Open Sans', sans-serif;
  font-weight: 300;
  background-color: #fff;
  color: #525f7f;
  width: 100vw;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}

h1,
h2,
h3 {
  font-family: 'Signika', 'Open Sans', sans-serif;
}

a,
a:hover,
a:visited {
  color: #4748ec;
}

@font-face {
  font-family: 'Signika';
  font-display: auto;
  src: url('../fonts/Signika-Light.ttf') format('truetype');
  font-weight: 300;
}

@font-face {
  font-family: 'Signika';
  font-display: auto;
  src: url('../fonts/Signika-Regular.ttf') format('truetype');
  font-weight: 500;
}

@font-face {
  font-family: 'Signika';
  font-display: auto;
  src: url('../fonts/Signika-SemiBold.ttf') format('truetype');
  font-weight: 600;
}
