.free-section {
  background-color: #4847ec;
  min-height: 400px;
  position: relative;
  text-align: center;
}

.free-section-left {
  transform: skewy(3deg);
  background-color: #4847ec;
  z-index: 2;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.free-section-right {
  transform: skewy(-3deg);
  background-color: #4847ec;
  z-index: 2;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.content {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 30px;
  z-index: 9;
  position: relative;
  padding: 80px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.free-section h1 {
  font-size: 40px;
  letter-spacing: 2px;
  color: #fff;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 0;
}

.separator {
  width: 74px;
  height: 5px;
  border-radius: 5px;
  background-color: #40c057;
  margin-bottom: 35px;
}

.free-section p {
  color: #e1e1f7;
  font-size: 20px;
  line-height: 30px;
  margin: 0;
}

@media (max-width: 430px) {
  .pyr1 {
    display: none;
  }
}

@media (max-width: 400px) {
  .pyr2 {
    display: none;
  }
}
